/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.content {
    text-align: center;
    padding: 40px;
}

/* Стили обложки */
.cover-container {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.cover {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #777;
}

/* Стили плеера */
.player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(128, 128, 128, 0.7); /* стеклянный фон */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px 10px 0 0;
}

.player {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

#theme-toggle {
    font-size: 18px;
}

/* Светлая тема */
.light-theme {
    background-color: #ffffff;
    color: #333;
}

/* Темная тема */
.dark-theme {
    background-color: #121212;
    color: #fff;
}

.dark-theme .player-container {
    background: rgba(0, 0, 0, 0.7);
}

/* Анимация кнопок */
button:focus {
    outline: none;
}
